
.main{
    width: 1280px;
    margin: auto;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular,arial, sans-serif;

}

.logo{
    width: 292px;
    height: 74px;
    text-align: left;
    font-size: 80px;
    margin-bottom: 45px;
}

.logo-main{
    text-decoration: none;
    color: #4bcaff;
}
.logo-black{
    color: black;
}

.top-menu {
    display: inline-block;
    background: #35444f;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
    align-items: center;
    width: 1280px;
    height: 69px;
    font-size: 24px;
}

.top-menu ul {
    list-style-type: none;
    margin:0 auto;
    height: 81px;
    font-size: 24px;
    justify-content: center;
    text-align-all: center;
}

.top-menu ul li{
    padding:21px 26px;
    display: inline-block;
}
.top-menu ul li:hover{
    background: #222f3a;
    border-left: 1px #818181 solid;
    border-right: 1px #818181 solid;
}

.top-menu ul li a{
    color: white;
    text-decoration: none;
}


.left-side-menu{
    display: inline-block;
    vertical-align: top;
    border: 1px black solid;
    width: 344px;
    font-size: 19px;
    color: #6d7982;
    /*margin-right:2px;*/
    margin-block-start:0;
}

.left-side-menu ul{
    margin: auto;
    padding-inline-start: 0;
}

.left-side-menu ul li{
     padding:26px 0 26px 26px;
     display: block;
 }

.left-side-menu ul li:hover{
    background: #dbdbdb;
    padding-left: 69px;
    margin-top: 1px;
}

.left-side-menu ul li a{
    text-decoration: none;
    color: #859097;
}

.left-side-menu ul li:hover a{
    color: black;
    text-decoration: underline;
}


.content {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 39px;
    width: 887px;
    margin-right:auto;
    background: none;

}

.image-container{
    width: 885px;
    height: 529px;
    border: 1px black solid;
    padding: auto;
    display:table-cell;
    vertical-align:middle;
    text-align:center;

}

.image {
    width: 320px;
    height: 381px;
    background: none;
    transition: transform 1s;
}

.image:hover{
    transform: scale(1.2);
}


.text-content{
    display: inline-block;
    vertical-align: top;
    margin: 50px 30px;
    font-size: 18px;
}


.footer {
    width: 1280px;
    display: inline-block;
    font-size: 24px;
    background: #b4b7ba;
    height: 69px;
}

.footer-menu {
    display: inline-block;
    margin-left: auto;

}
.footer-menu ul{

    list-style-type: none;
    margin:auto;
    justify-content: center;
    text-align-all: center;
}

.footer-menu ul li{
    padding:21px 5px;
    display: inline-block;
}

.footer-menu ul li a{
    color: #0c1927;
    text-decoration: none;
}

.footer-menu ul li:hover a{
    color: #3181a6;
    text-decoration: underline;
}


.copyright-text{
    margin-left: 250px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}