.main{
    width: 1900px;
    margin: 0 auto;
}

.first-part {
    height: 1504px;
    width: 1900px;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 1900px;
    background-color: #1d2124;
    align-items: center;
}
.logo {
    display: flex;
}
.logo-image-container {
    display: flex;
    height: 70px;
    width: 70px;
    background-color: #1a1d20;
    margin-right: 6px;
}

.logo-image {
    display: block;
    height: 27px;
    width: 27px;
    margin: auto;
}

.logo-text {
    display: flex;
    color: #ffffff;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 22px;
    align-items: center;
}

.search {
    display: flex;
    background-color: #171a1c;
    height: 70px;
    width: 70px;
}

.icon {
    height: 17px;
    width: 17px;
    margin: auto;
    display: block;

}

.navigation {
    display: flex;
    width: 800px;
    height: 70px;
    align-items: center;
}
.menu {
    display: flex;
    padding: 0;
    justify-content: center;

}
.menu-item {
    list-style: none;
    margin-right: 37px;
}
.menu-link {
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.latest-news {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 404px;
    width: 1900px;
    background-color: dodgerblue;
    justify-content: center;
}
.bg-1 {
    background: url(../images/header-bg_min.jpeg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
}
.bg-2{
    background: url(../images/parallax-bg.jpeg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
}

.bg-1-content{
    opacity: 0.6;
    background: black;
    z-index: 6;
}
.bg-2-content{
    opacity: 0.6;
    background:black;
    z-index: 6;
}


.content {
    display: flex;
    width: 1900px;
    height: 22px;
    margin-top: 127px;
    margin-bottom: 44px;
}
.news-content {
    display: flex;
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 27px;
    color: #ffffff;
    width: 1900px;
    justify-content: center;
}
.subscribe, .articles {
    display: flex;
    width: 170px;
    height: 55px;
    border-radius: 3px;
    color: #ffffff;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}
.subscribe {
    background-color: #89ca62;
    border: 1px #89ca62 solid;
    margin-right: 20px;
}
.articles {
    display: flex;
    background-color: #14b9d5;
    border: 1px #14b9d5 solid;
}
.popular-posts {
    display: flex;
    flex-wrap: wrap;
    width: 1900px;
    height: 1030px;
    justify-content: center;
    align-items: center;
    /*background-color: #f2f2f2;*/
    /*background:rgba(0 0 0 .7) ;*/
}
.posts-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 1900px;
    color: #18b4cf;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    font-weight: bold;
}
.hotels {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    height: 830px;
}
.hotel-1 {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    height: 320px;
}
.hotel-3 {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    height: 440px;
}
.hotel-5 {
    flex-wrap: wrap;
    display: flex;
    width: 370px;
    height: 355px;
}
.hotel-2 {
    flex-wrap: wrap;
    display: flex;
    width: 370px;
    height: 320px;
}
.hotel-4 {
    flex-wrap: wrap;
    display: flex;
    width: 370px;
    height: 310px;
}
.hotel-6 {
    flex-wrap: wrap;
    display: flex;
    width: 370px;
    height: 440px;
}
.hotel-1-img {
    width: 370px;
    height: 260px;
}
.hotel-3-img {
    width: 370px;
    height: 380px;
}
.hotel-5-img {
    width: 370px;
    height: 290px;
}
.hotel-2-img {
    width: 370px;
    height: 260px;
}
.hotel-4-img {
    width: 370px;
    height: 250px;
}
.hotel-6-img {
    width: 370px;
    height: 380px;
}
.hotel-1-text, .hotel-2-text, .hotel-3-text, .hotel-4-text, .hotel-5-text, .hotel-6-text {
    display: flex;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 18px;
    color: #353a3d;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 60px;
    background-color: #ffffff;
}
.hotel-1, .hotel-2, .hotel-4, .hotel-5 {
    margin-right: 30px;
}
.hotel-3, .hotel-6 {
    margin-right: 0;
}
.hotel-1, .hotel-2, .hotel-3, .hotel-5 {
    margin-bottom: 32px;
}
.popular-clients {
    display: grid;
    height: 595px;
    width: 1900px;
    /*background: url(../images/parallax-bg.jpeg);*/
    align-items: center;
    justify-items: center;
}
.clients-content {
    display: grid;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 32px;
    color: #fff;
    /*text-align: center;*/
    height:30px;
    grid-row-gap:55px ;
    align-self: end;
   }
.line{
    width:60px;
    border:1px #169cb4 solid ;
    height: 1px;
    color:#169cb4 ;
}
.clients-logos{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 55px;
    width: 1899px;
    justify-items: center;
    align-self: start;
}
.national-post{
    justify-self: end;
}
.dryme{
    justify-self: center;
}
.house-home{
    justify-self: center;
}

.journy{
    justify-self: center;
}
.top-rated,.hot-news {
    display: grid;
    width: 1900px;
}
.rated-content, .hot-news-content{
    display: grid;
    width: 1900px;
    height: 136px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold,sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    align-items: center;
    justify-items: center;
}
.top-places{
    display: grid;
    grid-template-columns: repeat(7,auto);
}
.hotels-news{
    display: grid;
    width: 1170px;
    justify-self: center;
    align-self: center;
    grid-row-gap:42px;
}
.name, .name-two, .name-one,.name-3, .name-4,.name-5,.name-6 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold,sans-serif;
    font-size: 18px;
    color: #1d2124;
    font-weight: bold;
    background: #f9f7f7;
    text-align: right;
}
.description, .description-3, .description-4, .description-5, .description-6 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold,sans-serif;
    font-size: 14px;
    color:#5b6469;
    background: #f9f7f7;
    text-align: right;
}
.description-3, .description-4, .description-5, .description-6,.name-3, .name-4,.name-5,.name-6{
    display: grid;
    width: 505px;
    align-self: center;
    justify-self: center;
    text-align: right;
}
.section-1, .section-2, .section-3{
    display: grid;
    width: 1170px

}
.section-1{
    grid-column-gap: 35px;
    grid-template-columns: 856px 277px;
    height:260px;
}
.hotel-1-emirates{
    display: grid;
    grid-template-columns:483px 320px;
    grid-template-rows:  20px 140px;
    grid-column-gap:24px;
    background: #f9f7f7;
}
.hotel-one{
    grid-column:1/2 ;
}
.name-one{
    display: grid;
    grid-row: 1/4;
    grid-column:2/2 ;
    justify-self: end;
    height: 45px;
    width: 320px;
    justify-content: end;
    margin-top: 50px;
    }
.description{
    display: grid;
    grid-row: 2/4;
    grid-column:2/2 ;
    justify-content: end;
    align-content: end;
    height: 150px;
    margin-top: 50px
}
.hotel-2-spain{
    display: grid;
    grid-auto-flow: dense;
}
.name-two{
    display: grid;
    height:50px;
    width: 277px;
    justify-content: center;
    align-content: center;
   }
.section-2{
    grid-row-gap:43px;
    grid-column-gap:60px;
    grid-template-columns: repeat(2,555px);
    grid-template-rows: repeat(2,420px);
}
.hotel-3-egypt, .hotel-4-maldives, .hotel-5-tenerife, .hotel-6-GB{
    display: grid;
    width: 554px;
    grid-template-rows:260px 19px 77px;
    grid-row-gap:21px;
    background: #f9f7f7;
}
.section-3 {
    grid-column-gap: 35px;
    grid-template-columns: 277px 856px;
    height: 260px;
    margin-bottom: 71px;
}
.hotel-8-spain{
    display: grid;
    grid-template-columns:483px 320px;
    grid-template-rows: 20px 140px;
    grid-column-gap:24px;
    background: #f9f7f7;
}
.footer{
    display:grid;
    height:80px;
    width:1900px;
    background-color: #1d2124;
    grid-template-columns:2fr 1fr ;
    align-items: center;
    justify-items: center;
    /*grid-column-gap:560px;*/
}
.footer-content{
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier,sans-serif;
    font-size: 13px;
    color:#ffffff;
    text-align: center;
    width: 505px;
}

