.main{
    border: 22px #394864 solid;
    height:736px;
    width: 1192px;
    border-collapse: collapse;
    font-family: ﻿﻿Arimo,sans-serif;
    table-layout: auto;
}
td{
    font-family: ﻿﻿Arimo,sans-serif;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 0 0 0 2px;
    border-collapse: collapse;
    text-align: center;
}
th{
    font-family: ﻿﻿Arimo,sans-serif;
    border-collapse: collapse;
    text-align: center;
}
.plantype-1,.plantype-2,.plantype-3{
    height: 70px;
    color: #ffffff;
}
.plantype-1{
    font-size: 24px;
    background-color:#89c331 ;
}
.plantype-2{
    font-size: 30px;
    background-color:#f04a56 ;
}
.plantype-3{
    font-size: 24px;
    background-color:#20807c ;
}
.choose-line-1,.choose-line-2{
    color: #484848;
}
.choose-line-1{
    font-size: 18px;
    background-color: #fafafa;
}
.choose-line-2{
    font-size: 30px;
    background-color: #fafafa;
}
.dollar-price{
    font-size: 60px;
    color: #484848;
    text-align: right;
    background-color: #fafafa;
    height: 86px;
    /*border-style: solid;*/
    /*border-color: #d9d9d9;*/
    /*border-width: 0 2px 0 2px;*/
    


}
.cent-price{
    font-size: 24px;
    color: #484848;
    text-align: left;
    vertical-align: bottom;
    background-color: #fafafa;
    /*border-color: white;*/
    /*border-width: 0 0 0 0;*/
    /*border-style: solid;*/
}
.service-period{
    font-size: 18px;
    color: #484848;
    text-align: left;
    vertical-align: top;
    background-color: #fafafa;


}
.storage, .email, .products{
    margin-right: 10px;
    font-size: 16px;
    color: #484848;
    text-align: center;
    background-color: #f2f2f2;
    height: 69px;

}
.bandwidth,.support, .users{
    font-size: 16px;
    color: #484848;
    text-align: center;
    background-color: #e3e3e3;
    height: 69px;

}
#icon{
    margin-right: 10px;
}

.contact{
    background-color: #dddddd;
    height: 110px;
}



.button-1,.button-2, .button-3, .button-4{
    width: 192px;
    height: 49px ;
    font-family: ﻿﻿Arimo,sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    border-style:solid ;
    border-width: 0 0 7px 0;
}
.button-1{
    background-color:#484848 ;
    border-color: #404040;


}
.button-2{

    background-color:#89c331 ;
    border-color: #79b027;
}
.button-3{

    background-color:#f04a56 ;
    border-color: #df3a46;
}
.button-4{
    background-color:#20807c ;
    border-color: #16736f;
}
.button-1:hover,.button-2:hover, .button-3:hover, .button-4:hover{
    background-color: #daa520;
    color: #000000;
    border-radius: 7px;
    border-style:solid ;
    border-width: 0 0 7px 0;
    border-color: #b8860b;

}