
.icon-caledar {
  background-image: url(sprite.png);
  background-position: 0 -20px;
  width: 19px;
  height: 19px;
}
.icon-caledar:hover {
  background-image: url(sprite_hover.png);
  background-position: 0 -20px;
  width: 19px;
  height: 19px;
}

.icon-forum {
  background-image: url(sprite.png);
  background-position: 0 0;
  width: 28px;
  height: 20px;
}
.icon-forum:hover{
  background-image: url(sprite_hover.png);
  background-position: 0 0;
  width: 28px;
  height: 20px;
}
.icon-journey {
  background-image: url(sprite.png);
  background-position: -28px 0;
  width: 20px;
  height: 20px;
}
.icon-journey:hover {
  background-image: url(sprite_hover.png);
  background-position: -28px 0;
  width: 20px;
  height: 20px;
}