
.main {
    width: 1366px;
    height: 912px;
    margin: auto;
    display: flex;
    background: black;


}
.container{
    display: flex;
    width: 1366px;
    height: 768px;
    background: url("../images/background.png");
    margin: 70px 70px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    background-size: cover;
    justify-content: center;
    flex-flow:wrap;
}

.header {
    flex-direction: row;
    display:flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    height: 56px;
    width: 1366px;
    opacity: 0.45;
    filter: alpha(opacity=45);
    background :black;
    flex-flow:wrap;

}
.header-text-1{
    display:flex;
    width: 710px;
    height: 15px;
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 91px;
    margin-top:16px;

}
.header-text-1:hover{
    color:#3cb878
}
.icon{
    display: inline-block;
    list-style:none;
    width: 120px;
    height: 20px;
    margin-top :18px;
    /*padding-right: 15px;*/

}
.icon li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.hello-header{
    width: 328px;
    height: 56px;
    display: flex;
    margin-right: 25px;
    padding-left: 25px;
}

.header-text-2, .header-text-3{
    font-family: ﻿AdobeInvsa,sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-right: 5px;
    padding-top: 4px;

}
.header-text-2{
    border-left: 3px #828282 solid;
    padding-left: 35px;
}


.link-1,.link-2{
    font-family: ﻿AdobeInvsa,sans-serif;
    font-size: 14px;
    color: #39a46d;
    text-decoration: none;
    margin-right: 5px;
    padding-top: 19px;
}

.link-1:hover,.link-2:hover{
    text-decoration:underline;
    color:#327c56
}

.form {
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: start;
    height: 584px;
    width: 444px;
    background: #ffffff;
    flex-flow: wrap;
    overflow: hidden;
    border-radius: 8px;
    align-content: flex-start;

}
.square{
    /*display: flex;*/

    width: 18px;
    height: 18px;
    background: #3cb878;
    margin-top: 19px;
    margin-right: 42px;

}
.form-text-1{
    /*display: flex;*/
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 20px;
    color: #828282;
    text-align: center;
    height: 19px;
    width:77px;
    margin-top: 19px;
    margin-right: 205px;
    margin-bottom: 0;
}
.form-text-2 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #49bd81;
    width: 43px;
    height:13px;
    margin-top: 21px;
    margin-right: 50px;
}

.button-1{
    display: block;
    height: 46px;
    width: 157px;
    background: #305db8;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-left:62px;
    margin-right: 8px;
    margin-top: 15px;
    margin-bottom:25px;
    justify-content: center;
    border-radius: 5px;
    border:1px #305db8 solid;
}
.button-1:hover{
    background:#264b96;
}
.button-2:hover{
    background:#c3412c;
}


.button-2{

    height: 46px;
    width: 157px;
    background: #df4a32;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    border:1px #df4a32 solid;
}
.img-1{
    align-self: center;
    border-right: 2px #2b54a5 solid;
    padding-right: 15px;
    margin-right: 20px;

}
.img-2{
    align-self: center;
    border-right: 2px #c8422d solid;
    padding-right: 15px;
    margin-right: 20px;
}

.line-1{
    height: 1px;
    width: 135px;
    border: 0.2px #eaeaea solid;
    background: #eaeaea;
    margin-left:62px;
    margin-right:22px;
}
.content{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #cecece;
    text-align: center;
    height:8px;
    width: 15px;
    margin-right:22px;
    margin-top: 10px;

}
.line-2{
    height: 1px;
    width: 135px;
    border: 0.2px #eaeaea solid;
    background: #eaeaea;
}

.first-name{
    height: 46px;
    width: 322px;
    margin-left: 62px;
    margin-bottom: 17px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    border:1px #eaeaea solid;
    text-align: left;
    border-radius: 3px;
}
.first-name:focus,.last-name:focus, .email:focus, .password-1:focus, .password-2:focus {
    color: #757575;
    outline: none;
    padding-left: 19px;
    box-shadow: 2px 2px 5px #828282 ;
    border-radius: 2px;
}

.last-name, .email, .password-1 {
    height: 46px;
    width: 322px;
    margin-left: 62px;
    margin-bottom: 9px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    border:1px #eaeaea solid;
    border-radius: 3px;
}
.first-name::placeholder,.last-name::placeholder, .email::placeholder, .password-1::placeholder, .password-2::placeholder {
    color: #e1e1e1;
    padding-left: 19px;

}
.password-2{
    height: 46px;
    width: 322px;
    margin-left: 62px;
    margin-bottom: 20px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    border:1px #eaeaea solid;
    border-radius: 3px;
    margin-right: 50px;
}
.agreement {
    margin-left: 62px;
    margin-bottom: 22px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #434343;
    display: none;
}
.text{
    display: none;
}

.link-3 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #8ad4ae;
    margin-left: 7px;
    text-decoration:none;
    display: none;
    }

.link-4 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #8ad4ae;
    margin-left: 7px;
    text-decoration:none;}
.link-4:hover{
    text-decoration: underline;
    color:#56c18a;
}

.button-3{
    height: 46px;
    width:  322px;
    background-color: #3cb878;
    font-family:AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size:16px;
    color: #ffffff;
    border:1px #3cb878 solid;
    border-radius: 3px;
    margin-left: 62px;
}
.button-3:hover{
    background-color: #329a65;
}


.pseudocheckbox::before {
    content: "\00A0" ;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: baseline;


    text-align: center;
    line-height: 16px;
    font-weight: bold;
    margin-left: 62px;
    margin-bottom: 22px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #434343;
}

/*.registration-data input[type=checkbox]:checked + .pseudocheckbox::before { content: "V"; }*/
.registration-data input[type=checkbox]:checked + .pseudocheckbox::before {
    background: url("../images/checkbox.png") no-repeat}