
.main {
    width: 1366px;
    height: 768px;
    margin: auto;
    background: url("../images/background.png");
}

.header {
    float: top;
    padding-left: 155px;
    padding-right: 148px;
    height: 92px;
    padding-top: 49px;
}

.logo-img {
    background: url("../images/logo.png");
    width: 46px;
    height: 44px;
    float: left;
}

.logo {
    float: left;
    width: 164px;
    height: 44px;
}

.logo-text {
    height: 44px;
    float: left;
}

.logo-text-1 {
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 29px;
    color: #ffffff;
    float: top;
    width: 104px;
    height: 22px;
    margin: 0 0 6px 0;
}

.logo-text-2 {
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 18px;
    color: #ffffff;
    float: top;
    height: 13px;
    margin: 0;
}

.contacts {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    float: right;
    color: white;
}

.mail {
    height: 18px;
    float: top;
    margin: 0 0 12px 0;
    text-align: right;
}

.phone {
    height: 14px;
    float: top;
    margin: 0;
    text-align: right;
}

.container {
    width: 1059px;
    height: 536px;
    vertical-align: middle;
    margin-left: 154px;
    margin-right: 115px;
    margin-bottom: 50px;

}

.gallery {
    width: 1059px;
    text-decoration: none;
}

.gallery-image-container {
    float: left;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.gallery-image-container:nth-child(1),
.gallery-image-container:nth-child(2),
.gallery-image-container:nth-child(4),
.gallery-image-container:nth-child(5) {
    margin-right: 63px;
}

.gallery-image-container:nth-child(3),
.gallery-image-container:nth-child(6) {
    margin-right: 0;
}

.gallery-image-container:nth-child(1),
.gallery-image-container:nth-child(2),
.gallery-image-container:nth-child(3) {
    margin-bottom: 55px;
}

.about-image {
    width: 307px;
    height: 200px;
    border: 2px white solid;
}

.about-image-info {
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 18px;
    color: #888a8b;
    margin-top: 20px;
}

.footer {
    display: inline-block;
    width: 1059px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    margin-left: 150px;
    float: top;
}

.logo:hover .logo-text-1, .logo:hover .logo-text-2 {
    color: #f26522;
}

.logo:hover .logo-img {
    background: url("../images/logo-hover.png");
}

.gallery-image-container:hover .price {
    display: inline-block;
}

.price {
    display: none;
    position: absolute;
    bottom: 44px;
    background-color: #f26522;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #fef5f0;
    height: 63px;
    width: 311px;
    padding-bottom: 17px;
    margin-bottom: 0;
}

.info-1 {
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: left;
    padding-left: 21px;
    padding-top: 16px;
    margin-top: 0;
    margin-bottom: 7px;

}

.info-2 {
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    width: 307px;
    height: 20px;
    padding-left: 21px;
}

.info-3 {

    position: absolute;
    padding-left: 100px;
    top: 29px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: right;
    width: 207px;
    padding-top: 10px;
}

.info-3::after {
    content: '\3E';
    padding-left: 15px;
    padding-right: 18px;
    font-size: 10px;

}
