ul {
    list-style-type: none;
    margin:2px auto;
    overflow: hidden;
    height: 81px;
    background: white;
    font-size: 16px;
    font-family: Roboto-Black;
    justify-content: center;
    text-align-all: center;
    padding-left: 0;
    font-weight: bold;
    }

li {
    float: none;
    display: inline-block;
}

li a {
    float: left;
    color: #16a085;
    padding: 32px 18px;
    text-decoration: none;
}

.main{
    background: #f5f6f7;
}
.img{
    width: 1280px;
    height: 790px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.name-of-article{
    margin-top: 56px;
    margin-bottom: 36px;
    font-size: 22px;
    text-align: center;
}
.submitButton{
    align-self: center;
    background: #16a085;
    color: #ffffff;
    font-size: 12px;
    width: 192px;
    height: 51px;
    margin-top: 41px;
    margin-bottom: 94px;
    border-radius: 4px;
}


body{
    width: 1280px;
    margin: auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
}

p{
    width: 1059px;
    margin:2px auto;
    font-family: Roboto-Black;
    font-size: 16px;
    font-weight: bold;


}

.footer{
    padding-top: 47px;
    height: 108px;
    font-size: 16px;
    float: right;
    margin-right: 104px;
    font-weight: bold;
   }
